<form [formGroup]="formUsuario">
  <h3>Cadastro de usuário</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" name="senha" formControlName="senha">
  </div>
  <div>
    <h4>Funções</h4>
    <app-nova-role></app-nova-role>
    <app-role [role]="role" *ngFor="let role of roles"></app-role>
  </div>
  <hr>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="gravar()">Gravar</button>
    <button type="button" class="btn btn-warning" (click)="cancelar()">Cancelar</button>
  </div>
</form>
