<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <h4 class="list-group-item-heading">Novo usuário</h4>
    <p class="list-group-item-text">Crie um novo usuário aqui</p>
  </li>
  <li class="list-group-item" *ngFor="let usuario of usuarios" [routerLink]="['/', usuario.id]" routerLinkActive="active">
    <h4 class="list-group-item-heading">{{usuario.email}}</h4>
    <p class="list-group-item-text">{{usuario.roles.join(' ,')}}</p>
  </li>
</ul>
