<form [formGroup]="formUsuario" (submit)="gravar()" *ngIf="usuario$ | async as usuario">
  <h3>Cadastro de usuário</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" name="senha" formControlName="senha">
  </div>
  <div formArrayName="roles">
    <h4>Funções</h4>
    <app-nova-role (adicionar)="adicionarRole($event)"></app-nova-role>
    <div *ngFor="let roleControl of formUsuario.get('roles').controls; let i = index">
      <app-role [control]="formUsuario.get('roles').controls[i]" (deletar)="deletarRole(i)"></app-role>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Gravar</button>
    <button type="button" class="btn btn-warning" (click)="cancelar(usuario)">Cancelar</button>
  </div>
</form>
